// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
.resheader {
    color: #0074D9
}

code {
    color:  salmon;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.res{
    flex-grow: 5;
    flex-basis: 95%;
}

.pic{
    flex-shrink: 5;
}

@media only screen and (max-width: 600px){
    .container{
        flex-direction: column;
    }

    .res{
        order: 2
    }

    .pic{
        order: 1;
    }
}


#profpic {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.fab, .fas{
    color: salmon;
}

.pfimg{
    padding-top:10px
}

#cm {
    width: 75%;
    height: 75%;
    margin: auto
}